<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Nav bar with responsive  -->
<header>
    <div class="logo">
        <h1 class="logo-text">
            <span>New</span>Inspires
        </h1>
    </div>
    <i class="fa fa-bars menu-toggle" aria-hidden="true"></i>
    <ul class="nav">
        <li><a href="/">Home</a>
            <!-- <ul style="left:0px">
                <li><a href="#">Landing Page</a></li>
                <li><a href="#">Team</a></li>
            </ul> -->
        </li>
        <li><a href="#">About</a></li>
        <li><a href="/addBlog">Add Blog</a></li>
        <li><a href="#">Services</a></li>
        
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/login">Login</a></li> 
        <!-- <li>
            <a href="#">
                <i class="fa fa-user"></i>
                A Jass
                <i class="fa fa-chevron-down" style="font-size: .8rem;"></i>
            </a>
            <ul>
                <li><a href="#">Dhashboard</a></li>
                <li><a href="#" class="logout">Logout</a></li>
            </ul>
        </li> -->
    </ul>
</header>
<!-- end of Nav bar with responsive  -->

</body>
</html>