<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Section - Manage users</title>
    <!-- fonts awsome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



    <!-- bootstrap1 -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap" rel="stylesheet">
    <!-- <link href="./css/home.css" rel="stylesheet"> -->
    <style>
        * {
            box-sizing: border-box;
        }


        html,
        body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: flex;
            background: #f6f6f6;
            flex-direction: column;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Candal', serif;
            color: #444;
            margin: 5px;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .btn {
            padding: .5rem 1rem;
            background: #006669;
            color: white;
            border: 1px solid transparent;
            border-radius: .25rem;
            font-size: 1.08em;
            font-family: 'Lora', serif;
        }

        .btn:hover {
            color: white !important;
            background: #005255;
        }

        .text-input {
            padding: .7rem 1rem;
            display: block;
            width: 100%;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            outline: none;
            color: #444444;
            line-height: 1.5rem;
            font-size: 1.2em;
            font-family: 'Lora', serif;
        }

        .note-input {
            height: 150px;
        }

        header {
            background: rgb(6, 80, 82);
            height: 66px;

        }

        header * {
            color: white;
        }

        header .logo {
            float: left;
            margin-left: 2rem;
            height: inherit;
            /*border: 1px solid red; */
        }

        header .logo-text {
            margin: 9px;
            font-family: 'Candal', serif;
        }

        header .logo-text span {
            color: #05f7ff;
        }

        header ul {
            float: right;
            margin: 0px;
            padding: 0px;
            list-style: none;
            /*border: 1px solid red; */
        }

        header ul li {
            float: left;
            position: relative;
        }

        header ul li ul {
            position: absolute;
            top: 66px;
            right: 0px;
            width: 180px;
            display: none;
            z-index: 88888;
            float: right;
        }

        header ul li:hover ul {
            display: block;
        }

        header ul li ul li {
            width: 100%;
        }

        header ul li ul li a {
            padding: 10px;
            background: white;
            color: #444;
        }

        header ul li ul li a.logout {
            color: red;
        }

        header ul li ul li a:hover {
            background: #d5d6d6;
        }

        header ul li a {
            display: block;
            padding: 21px;
            font-size: 1.1rem;
            text-decoration: none;

        }

        header ul li a:hover {
            background: #006669;
            transition: 0.5s;
        }

        header .menu-toggle {
            display: none;
        }

        /*admin wrapper */
        .admin-wrapper {
            /*border: 1px solid rgb(33, 27, 27);*/
            display: flex;
            height: 100vh; 

        }

        .admin-wrapper .left-sidebar {
            flex: 2;
            height: 100%;
            background: #234a57;
            /* border: 1px solid red;*/
        }

        .admin-wrapper .left-sidebar ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            color: aliceblue;

        }

        .admin-wrapper .left-sidebar ul li a {
            padding: 18px;
            display: block;
            border-bottom: 1px solid #004044;

        }

        .admin-wrapper .left-sidebar ul li a:hover {
            background: #004044;
        }

        .admin-wrapper .admin-content {
            flex: 8;
            height: 100%;
            padding: 40px 100px 100px;
            overflow-y: scroll;
            /* border: 1px solid rgb(21, 255, 0);*/
        }

        .admin-content .page-title {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 1.1rem;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #d3d3d3;
        }

        .edit {
            color: green;
        }

        .delete {
            color: red;
        }

        .publish {
            color: blue;
        }

        .edit:hover,
        .delete:hover,
        .publish:hover {
            text-decoration: underline;
        }
    </style>

</head>

<body>
    <!-- Nav bar with responsive  -->
    <header>
        <div class="logo">
            <h1 class="logo-text">
                <span>New</span>Inspires
            </h1>
        </div>
        <i class="fa fa-bars menu-toggle" aria-hidden="true"></i>
        <ul class="nav">
            <li>
                <a href="#">
                    <i class="fa fa-user"></i>
                    A Jass
                    <i class="fa fa-chevron-down" style="font-size: .8rem;"></i>
                </a>
                <ul>

                    <li><a href="#" class="logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- end of Nav bar with responsive  -->

    <!-- admin wrapper  -->
    <div class="admin-wrapper">
        <!-- left sidebar  -->
        <div class="left-sidebar">
            <ul>

                <li><a href="/admini">Manage Posts</a></li>
                <li><a href="/usersi">Manage Users</a></li>
                <li><a href="/topici">Manage Topics</a></li>
            </ul>

        </div>

        <!-- admin-content  -->
        <div class="admin-content">
            <div class="button-group">
                <a href="/usersc" class="btn btn-big">Add Users</a>
                <a href="/usersi" class="btn btn-big">Manage users</a>
            </div>
            <div class="content">
                <h2 class="page-title">Manage Users</h2>
                <table>
                    <thead>
                        <th>SN</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th colspan="2">Action</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Anny</td>
                            <td>Admin</td>
                            <td><a href="" class="edit">Edit</a></td>
                            <td><a href="" class="delete">Delete</a></td>
                            

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jenis</td>
                            <td>Admin</td>
                            <td><a href="" class="edit">Edit</a></td>
                            <td><a href="" class="delete">Delete</a></td>
                            

                        </tr>
                    </tbody>
                </table>

            </div>


        </div>

    </div>
    
    <!-- end admin wrapper  -->

    <script>
        $('.menu-toggle').on('click', function () {
            $('.nav').toggleClass('showing');
            $('.nav ul').toggleClass('showing');
        });

    </script>

</body>

</html>